# General
.DS_Store
*.log
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
bin/
lib/
include/
/terramatch/backend/terramatch.db

# Node
node_modules/
.next/
out/
build/
dist/
.env*
*.tsbuildinfo
next-env.d.ts
